Ù¾Ø±ÙˆÚ˜Ù‡ Ø¯Ø± Ø­Ø§Ù„ ØªØºÛŒÛŒØ± Ø§Ø³Øª Ùˆ Ú†ÛŒØ²ÛŒ Ú©Ù‡ Ø¯Ø± Ø§ÛŒÙ† ÙØ§ÛŒÙ„ Ú¯Ù†Ø¬Ø§Ù†Ø¯Ù‡ Ø´Ø¯Ù‡ Ø¨Ù‡ ØµÙˆØ±Øª ØªÙ…Ø±ÛŒÙ† Ø¨ÛŒØ´ØªØ± Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ø´Ù…Ø§ Ù‚Ø±Ø§Ø± Ú¯Ø±ÙØªÙ‡ Ø§Ø³Øª Ø¨Ø±Ø§ÛŒ Ø¬Ù„Ø³Ø§Øª ÙˆØ±Ú©Ø´Ø§Ø¨

----

----

----

<div dir="rtl" align="justify">
    <b style="font-family:Vazir,font-size:28px;">

Ù¾Ø±ÙˆÚ˜Ù‡ Ù¾Ø§Ù†Ø¯Ø§Ø² Ù¾ÛŒØ´Ø±ÙØªÙ‡    



    1. Ø§Ø¨ØªØ¯Ø§ ØªÙ„Ø§Ø´ Ú©Ù†ÛŒØ¯ Ø§Ø² Ø·Ø±ÛŒÙ‚ Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡ ÛŒ sqllite3 ÛŒØ§ sqlalchemy Ø¯ÛŒØªØ§ÛŒ 
    Ù…ÙˆØ¬ÙˆØ¯ Ø¨Ø± Ø±ÙˆÛŒ Ø¯ÛŒØªØ§Ø¨ÛŒØ³ Ø®ÙˆØ¯ Ø±Ø§ Ø¨Ø®ÙˆØ§Ù†ÛŒØ¯ 
    
    2. Ù¾Ø³ Ø§Ø² Ø¨Ø§Ø±Ú¯ÛŒØ±ÛŒ Ø¬Ø¯ÙˆÙ„ Ù…ÙˆØ±Ø¯ Ù†Ø¸Ø± Ú†Ù†Ø¯ Ø³Ø·Ø±ÛŒ Ø§Ø² Ø¢Ù† Ø±Ø§ ÙØ±Ø§Ø®ÙˆØ§Ù†ÛŒ Ùˆ Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ú©Ù†ÛŒØ¯

    3. Ø­Ø§Ù„ Ø§Ø² Ù†Ø¸Ø± Ø´Ø§Ø®Øµ Ù‡Ø§ÛŒ Ø¢Ù…Ø§Ø±ÛŒ Ø¯ÛŒØªØ§ÛŒ Ø®ÙˆØ¯ Ø±Ø§ Ù…ÙˆØ±Ø¯ Ø³Ù†Ø¬Ø´ Ùˆ ØªØ­Ù„ÛŒÙ„ Ù‚Ø±Ø§Ø± Ø¯Ù‡ÛŒØ¯ ØªØ§ Ø¨ÛŒØ´ØªØ± Ø¨Ù‡ Ø¢Ù† ØªØ³Ù„Ø· Ù¾ÛŒØ¯Ø§ Ú©Ù†ÛŒØ¯ 

    4. Ù†ÙˆØ¨Øª Ø¨Ù‡ ØªÙ…ÛŒØ² Ú©Ø±Ø¯Ù† Ù…Ù‚Ø§Ø¯ÛŒØ± Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¯ÛŒØªØ§ÛŒ Ø±Ø³ÛŒØ¯Ù‡ Ø§Ø³Øª:
    Ø¨Ø± Ù…Ø¨Ù†Ø§ÛŒ Ø¢Ù† Ú†Ù‡ Ú©Ù‡ Ø¢Ù…ÙˆØ®ØªÙ‡ Ø§ÛŒØ¯ Ù…Ù‚Ø§Ø¯ÛŒØ± Ú¯Ù…Ø´Ø¯Ù‡ Ø±Ø§ Ù¾ÛŒØ¯Ø§ Ùˆ Ø¨Ø§ Ù…Ù‚Ø§Ø¯ÛŒØ± Ø¨Ù‡ÛŒÙ†Ù‡ Ù¾Ø± Ú©Ù†ÛŒØ¯Ø› Ø­Ø§Ù„ Ù…Ù‚Ø§Ø¯ÛŒØ± Ø¯ÙˆØ± Ø§ÙØªØ§Ø¯Ù‡ Ùˆ Ù¾Ø±Øª Ø±Ø§ Ø§Ø² Ø·Ø±ÛŒÙ‚ Ù…ØªÙˆØ¯ Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¢Ù…ÙˆØ®ØªÙ‡ Ø§ÛŒØ¯ ØªÙ„Ø§Ø´ Ú©Ù†ÛŒØ¯ Ø´Ù†Ø§Ø³Ø§ÛŒÛŒ Ùˆ Ø§Ø² Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡ ÛŒ Ø®ÙˆØ¯ Ú©Ù†Ø§Ø± Ø¨Ú¯Ø°Ø§Ø±ÛŒØ¯.

    5. Ø³Ø±ÛŒ Ù‡Ø§ÛŒ Ø²Ù…Ø§Ù†ÛŒ: ØªÙ„Ø§Ø´ Ú©Ù†ÛŒØ¯ Ú©Ø´ÙˆØ± Ù‡Ø§Ø±Ø§ Ø¨Ø± Ù…Ø¨Ù†Ø§ÛŒ Ù…Ø¯Øª Ø²Ù…Ø§Ù†ÛŒ Ú©Ù‡ Ø¯ÛŒØªØ§ Ø¯Ø§Ø±Ù†Ø¯ Ø¨Ø§ ÛŒÚ©Ø¯ÛŒÚ¯Ø± Ù…Ù‚Ø§ÛŒØ³Ù‡ Ú©Ù†ÛŒØ¯
    (ØªÙ„Ø§Ø´ Ø¨ÛŒØ´ØªØ±: Ø§Ø²  Ù…Ø¯Ù„ Ù‡Ø§ÛŒ Ø±Ú¯Ø±Ø³ÛŒÙˆÙ† Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ´ Ø¨ÛŒÙ†ÛŒ Ø§Ù…ÛŒØ¯ Ø¨Ù‡ Ø²Ù†Ø¯Ú¯ÛŒ Ú©Ø´ÙˆØ± Ù‡Ø§ Ø¯Ø± Ø¢ÛŒÙ†Ø¯Ù‡ Ú©Ù…Ú© Ø¨Ú¯ÛŒØ±ÛŒØ¯. Ø¯Ù‚Øª Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯ Ú©Ù‡ Ø¨Ø§ÛŒØ¯ Ù…Ø¯Ù„ Ø®ÙˆØ¯ Ø±Ø§ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ùˆ Ù…ÛŒØ²Ø§Ù† Ø®Ø·Ø§ Ùˆ Ø¯Ù‚Øª Ø¢Ù† Ø±Ø§ Ù†Ù…Ø§ÛŒØ´ Ø¯Ù‡ÛŒØ¯. Ø­ÙˆØ§Ø³ØªØ§Ù† Ø¨Ù‡ Ø´Ø§Ø®Øµ Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨Ø±Ø§ÛŒ Ø±Ú¯Ø±Ø³ÛŒÙˆÙ† Ø§Ù†ØªØ®Ø§Ø¨ Ù…ÛŒÚ©Ù†ÛŒØ¯ Ø¨Ø§Ø´Ø¯ ØªØ§ Ø¯Ù‚Øª Ù…Ø¯Ù„ Ø®ÙˆØ¯ Ø±Ø§ Ø§ÙØ²Ø§ÛŒØ´ Ø¯Ù‡ÛŒØ¯)

    6. ØªÙ„Ø§Ø´ Ú©Ù†ÛŒØ¯ ØªÙ…Ø§Ù…ÛŒ Ø³Ø·Ø± Ù‡Ø§ÛŒ Ù…Ø±Ø¨ÙˆØ· Ø¨Ù‡ ÛŒÚ© Ú©Ø´ÙˆØ± Ø±Ø§ ÛŒÚ©ÛŒ Ú©Ù†ÛŒØ¯ Ùˆ ÙˆÛŒÚ˜Ú¯ÛŒ Ù‡Ø§ÛŒ Ø¹Ø¯Ø¯ÛŒ Ø¢Ù† Ù‡Ø§ Ø±Ø§ Ø¨Ø§ Ù…Ù‚Ø¯Ø§Ø± Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ùˆ ÙˆÛŒÚ˜Ú¯ÛŒ Ù‡Ø§ÛŒ Ø¯Ø³ØªÙ‡ Ø§ÛŒ Ø±Ø§ Ø¨Ø§ Ù…Ù‚Ø¯Ø§Ø± Ù…Ø¯ Ù¾Ø± Ú©Ù†ÛŒØ¯ ØªØ§ Ø¨Ø±Ø§ÛŒ Ù‡Ù…Ù‡ Ú©Ø´ÙˆØ± Ù‡Ø§ ÛŒÚ© Ø³Ø·Ø± Ø¨Ù‡ Ø®ØµÙˆØµ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯

    7. Ø­Ø§Ù„ Ù†ÙˆØ¨Øª Ø¨Ø±Ø±Ø³ÛŒ Ø¢Ù…Ø§Ø±ÛŒ Ùˆ Ù‡Ù…Ø¨Ø³ØªÚ¯ÛŒ Ø´Ø§Ø®Øµ Ù‡Ø§ Ø¨Ø§ ÛŒÚ©Ø¯ÛŒÚ¯Ø± Ù…ÛŒØ¨Ø§Ø´Ø¯Ø› Ø§Ø² Ù…Ù‚Ø§ÛŒØ³Ù‡ ØªÙˆØ²ÛŒØ¹ Ù‡Ø§ Ù†ÛŒØ² ØºØ§ÙÙ„ Ù†Ø´ÙˆÛŒØ¯

    8. ÙˆÙ‚Øª Ø¢Ù† Ø±Ø³ÛŒØ¯Ù‡ Ú©Ù‡ ØªØ§ Ù¾Ø±Ø³Ø´ Ù‡Ø§ÛŒÛŒ Ø±Ø§ Ù…Ø·Ø±Ø­ Ú©Ø±Ø¯Ù‡ Ùˆ Ø¨Ù‡ Ø¯Ù†Ø¨Ø§Ù„ ÛŒØ§ÙØªÙ† Ù¾Ø§Ø³Ø® Ù‡Ø§ÛŒ Ø¢Ù† Ù‡Ø§ Ø§Ø² Ø·Ø±ÛŒÙ‚ Ø¯ÛŒØªØ§ÛŒ ØªÙ…ÛŒØ² Ø´Ø¯Ù‡ Ø¨Ú¯Ø±Ø¯ÛŒØ¯.

    9. ØªÙ„Ø§Ø´ Ú©Ù†ÛŒØ¯ Ù†Ù…ÙˆØ¯Ø§Ø± Ù‡Ø§ÛŒ Ø®ÙˆØ¯ Ø±Ø§ Ø§Ø² Ø·Ø±ÛŒÙ‚ plotly ØªØ±Ø³ÛŒÙ… Ú©Ø±Ø¯Ù‡  Ùˆ Ø§Ø² Ù†Ù…ÙˆØ¯Ø§Ø± Ù‡Ø§ÛŒ ØªØ¯Ø±ÛŒØ³ Ø´Ø¯Ù‡ Ù†ÛŒØ² Ø¨Ù‡Ø±Ù‡ Ù…Ù†Ø¯ Ø´ÙˆÛŒØ¯.

    10. ØªÙ„Ø§Ø´ Ø¨ÛŒØ´ØªØ±: Ø§Ø² Ù…Ø¯Ù„ Ù‡Ø§ÛŒ Ø¯Ø³ØªÙ‡ Ø¨Ù†Ø¯ÛŒ Ú©Ù…Ú© Ø¨Ú¯ÛŒØ±ÛŒØ¯ Ùˆ Ø¨Ø§ Ø´Ø§Ø®Øµ Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¯Ø§Ø±ÛŒØ¯ Ù…Ø¯Ù„ÛŒ Ø¨Ø³Ø§Ø²ÛŒØ¯ ØªØ§ Ø¨ØªÙˆØ§Ù†Ø¯ ÛŒÚ© Ø®Ø· Ø¬Ø¯ÛŒØ¯ Ø±Ø§ Ø§Ø² Ù†Ø¸Ø± ØªÙˆØ³Ø¹Ù‡ ÛŒØ§ÙØªÙ‡ ÛŒØ§ Ø¯Ø± Ø­Ø§Ù„ ØªÙˆØ³Ø¹Ù‡ Ø¨ÙˆØ¯Ù† Ø´Ù†Ø§Ø³Ø§ÛŒÛŒ Ú©Ù†Ø¯Ø› Ù…Ø¯Ù„ Ø®ÙˆØ¯ Ø±Ø§ Ù†ÛŒØ² Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ú©Ù†ÛŒØ¯.

    11. ØªÙ„Ø§Ø´ Ø¨ÛŒØ´ØªØ±: Ø§Ø² Ù…ØªÙˆØ¯ Ù‡Ø§ÛŒ Ú©Ø§Ù‡Ø´ Ø§Ø¨Ø¹Ø§Ø¯ Ú©Ù…Ú© Ú¯Ø±ÙØªÙ‡ Ùˆ ØªÙ„Ø§Ø´ Ú©Ù†ÛŒØ¯ Ù†Ù‚Ø§Ø· Ø±Ø§ Ø¯Ø± ÙØ¶Ø§ÛŒ Ø¯Ùˆ ÛŒØ§ Ø³Ù‡ Ø¨Ø¹Ø¯ÛŒ Ù†Ù…Ø§ÛŒØ´ Ø¯Ù‡ÛŒØ¯( Ø¨Ø±Ø§ÛŒ ØªÙÚ©ÛŒÚ© Ù†Ù‚Ø§Ø· Ù†ÛŒØ² Ù…ÛŒØªÙˆØ§Ù†ÛŒØ¯ Ø¨Ø± Ù…Ø¨Ù†Ø§ÛŒ Ø§Ù…ÛŒØ¯ Ø¨Ù‡ Ø²Ù†Ø¯Ú¯ÛŒ Ø³ØªÙˆÙ†ÛŒ Ø¨Ù‡ Ø¯ÛŒØªØ§ Ø§Ø¶Ø§ÙÙ‡ Ú©Ù†ÛŒØ¯ ØªØ§ Ø¯ÛŒØªØ§ Ø±Ø§ Ú¯Ø³ØªØªÙ‡ Ø³Ø§Ø²ÛŒ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´ÛŒØ¯ Ùˆ Ù†Ù‚Ø§Ø· Ø¨Ø§ Ø±Ù†Ú¯ Ù‡Ø§ÛŒ Ø§ÛŒÙ† Ù„ÛŒØ¨Ù„ Ù‡Ø§ÛŒ Ú¯Ø³ØªØªÙ‡ Ø§Ø² Ù‡Ù… ØªÙ…Ø§ÛŒØ² Ø¯Ø§Ø¯Ù‡ Ø´ÙˆÙ†Ø¯)

    12. Ù‡Ø± Ø¢Ù† Ú†Ù‡ Ú©Ù‡ Ø§Ø­Ø³Ø§Ø³ Ù…ÛŒÚ©Ù†ÛŒØ¯ Ø¯Ø± Ù¾Ø±ÙˆÚ˜Ù‡ Ø°Ú©Ø± Ù†Ø´Ø¯Ù‡ Ø±Ø§ Ø§Ù†Ø¬Ø§Ù… Ø¯Ø§Ø¯Ù‡ Ùˆ Ø§Ø­Ø³Ø§Ø³ Ù†Ú©Ù†ÛŒØ¯ Ù†Ù…ÛŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ù‚Ø§Ù„Ø¨ Ù¾Ø±ÙˆÚ˜Ù‡ Ø®Ø§Ø±Ø¬ Ø´ÙˆÛŒØ¯ ØªØ§ Ø§Ø² Ø­Ø¯Ø§Ú©Ø«Ø± Ø®Ù„Ø§Ù‚ÛŒØª Ø®ÙˆØ¯ Ù†ÛŒØ² Ø¨Ù‡Ø±Ù‡ Ù…Ù†Ø¯ Ø´ÙˆÛŒØ¯

    

</b>
</div>

----------

### Colab:

You can open the project in google colab by clicking the link below as well:

ğŸ‘‡

[here](https://colab.research.google.com/github/showmidelo/Advanced_Pandas_karyar/blob/main/project.ipynb)

----

# Data Cleaning:

### library and data importing

First of All try to use .sql file to make a table in your database and then try to make a request to your database to read that table and make a dataframe out of it

In [ ]:
%pip install sqlite3

In [10]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect() 

# Run SQL          
sql_query = pd.read_sql()

# Convert SQL to DataFrame
df = pd.DataFrame(sql_query, columns = [])

df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

### Imputing null values: 

try to use some of the methods you've learned

### Try to detect and remove outliers by any method you think that works on dataframe (you even can detect them by z value)

### Perform an EDA on cleaned dataframe such as correlation and etc.

you can use plotly library to visulize your findings

### Try to use a method to make table has just one row for every country and export all values in front of their records

### Use time series to show decrese and increase in any feature during data time

Continue....